body {
    width: 100vw;
    height: 100vh;
    background: url('../images/fodoGame.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

canvas {
    margin-left: 10rem;
}

.game-over {
    font-family: 'B612', sans-serif;
    color:white;
}
.start{
    border: 1px solid red;
    width: 300px;
    height: 300px;
    margin-left: 630px;
}



img.instructions {
    position: absolute;
    top: 0;
    left: 0;
    height: 500px;
    margin-left: 10rem;
}

#intro img {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
}
